# Project place file
/LuauScript.rbxlx

# Packages
/Packages

# Rojo project files and aftman
/default.project.json
/aftman.toml

# VSCode settings
/.vscode

# Roblox Studio lock files
/*.rbxlx.lock
/*.rbxl.lock
